@media screen and (max-width: 1280px) {
    #biography.ban .f-right {
        margin-right: 30px;
    }
}

@media screen and (max-width: 992px) {
    .logo {
        margin-bottom: 15px;
    }

    .menu {
        height: 30px;
        line-height: 30px;
        float: right;
        border-bottom: 2px solid #e0dace;
        font-size: 14px;
        margin: 0;
        width: 100%;
        display: -webkit-flex; /* Safari */
        display: flex;
        justify-content: space-around;
    }

    .menu a {
        margin: 0;
        float: none;
    }

    .menu li:first-child a {
        margin-left: 0;
    }

    .menu span {
        font-size: 12px;
    }

    .navTab li {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 15px;
    }

    .con {
        margin-top: 10px;
    }

    #biography.ban li {
        line-height: 1.4;
        margin: 10px 0;
    }

    #biography.ban .f-right {
        width: auto;
        background: rgba(255, 255, 255, .3);
        padding: 10px;
        margin: 0 15px;
    }

    .article {
        background-position: left 60px;
    }
}

@media screen and (max-width: 750px) {
    body {
        font-size: 14px;
        line-height: 1.4;
    }

    h4 {
        font-size: 16px;
    }

    .head {
        padding: 0;
    }

    .logo {
        height: 18px;
        width: auto;
        margin: 15px 10px 10px;
    }

    .logo img {
        display: block;
        height: 100%;
        width: auto;
    }

    .menu {
        font-size: 12px;
    }

    .menu li {
        overflow: hidden;
    }

    .menu a {
        padding: 0;
    }

    .menu span {
        font-size: 10px;
    }

    .workTime li {
        height: 25px;
        line-height: 25px;
        font-size: 14px;
        width: 45px;
        margin-bottom: 10px;
    }

    .work-info {
        margin-bottom: 30px;
    }

    #biography.ban > div {
        position: inherit;
    }

    #biography.ban .f-right {
        width: 100%;
        margin: auto;
        text-align: justify;
        background: url("/image/dt2.jpg") no-repeat center;
        background-size: 100% 100%;
    }

    #biography.ban .f-right .dis-table.f-left {
        float: none;
    }

    #biography.ban .f-right .dis-table .dis-cell > span {
        font-size: 14px;
    }

    #biography.ban li {
        padding-left: 40px;
        font-size: 12px;
        line-height: 1.5;
        margin: 10px 0;
    }

    #biography.ban li > span {
        margin-left: -40px;
    }

    #article.ban .f-left {
        font-size: 12px;

    }

    #contact p {
        margin: 10px 0;
    }

    #article .arTitle p a {
        display: none;
    }

    #article .arTitle p:nth-child(2) a, #article .arTitle p:nth-child(3) a, #article .arTitle p:last-child a {
        display: inline-block;
    }

    .close {
        height: 20px;
        width: 20px;
        background-size: 20px;
    }

    .close:hover {
        background-size: 20px;
    }

}

@media screen and (max-width: 375px) {
    #contact p {
        margin: 6px 0;
    }
}