<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="keywords" content="孙得菁 DEJING SUN"/>
    <meta name="description" content="孙得菁的个人网站"/>
    <link rel="shortcut icon" href="/image/favicon.jpg" type="image/x-icon"/>
    <title>孙得菁 DEJING SUN</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>

    <link rel="stylesheet" media="screen" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" media="screen" type="text/css" th:href="@{/css/style.m.css}"/>

    <script type="text/javascript" th:src="@{/js/jquery-1.11.0.min.js}"></script>

    <!--[if IE]>
    <script type="text/javascript" th:src="@{/js/jquery-1.8.2.min.js}"></script>
    <![endif]-->

    <!--[if lt IE 9]>
    <script th:src="@{/js/html5shiv.js}"></script>
    <![endif]-->

</head>
<body>
<input type="hidden" th:value="${years}" id="workYears">
<div class="home">
    <div class="fix">
        <div class="head">
            <div class="main">
                <div class="logo">
                    <a href="/pages/show/index/0">
                        <img src="/image/sun.png"/>
                    </a>
                </div>
                <ol class="menu">
                    <li>
                        <a href="#" class="cur">作品Work</a>
                    </li>
                    <li>
                        <a href="/pages/show/index/biography">经历Biography</a>
                    </li>
                    <li>
                        <a href="/pages/show/article/0">评论文章Article</a>
                    </li>
                    <li>
                        <a href="/pages/show/index/contact">联系方式Contact</a>
                    </li>
                </ol>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <div class="main con">
        <div class="row margin-0">
            <div class="col-2 padding-0">
                <div class="workTime" id="accordion" dir="rtl">
                    <div dir="ltr">
                        <ol id="years" class="panel-collapse collapse in" data-val="0">
                            <!--<li class="active" onClick="goToByScroll('page2018'); return false;">2018</li>-->
                            <!--<li onClick="goToByScroll('page2017'); return false;">2017</li>-->
                            <!--<li onClick="goToByScroll('page2016'); return false;">2016</li>-->
                            <!--<li onClick="goToByScroll('page2015'); return false;">2015</li>-->
                        </ol>
                    </div>
                </div>
            </div>

            <div class="col-10 padding-0" id="workCon">
                <!--<div id="page2018" class="content">-->
                    <!--<div class="caption">2018年作品集</div>-->
                    <!--<div class="work-info">-->
                        <!--<img class="lazy" data-original="../image/sun.png" onclick="fullS(this)">-->
                        <!--<p>名称，基础信息，33cmX33cm，2018</p>-->
                    <!--</div>-->
                    <!--<div class="work-info">-->
                        <!--<img class="lazy" data-original="../image/work02.jpg" onclick="fullS(this)">-->
                        <!--<p>名称，基础信息，33cmX33cm，2018</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div id="page2017" class="content">-->
                    <!--<div class="caption">2017年作品集</div>-->
                    <!--<div class="work-info">-->
                        <!--<img class="lazy" data-original="../image/pic-04.jpg" onclick="fullS(this)">-->
                        <!--<p>名称，基础信息，33cmX33cm，2018</p>-->
                    <!--</div>-->
                    <!--<div class="work-info">-->
                        <!--<img class="lazy" data-original="../image/work02.jpg" onclick="fullS(this)">-->
                        <!--<p>名称，基础信息，33cmX33cm，2018</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div id="page2016" class="content">-->
                    <!--<div class="caption">2016年作品集</div>-->
                    <!--<div class="work-info">-->
                        <!--<img class="lazy" data-original="../image/pic-04.jpg" onclick="fullS(this)">-->
                        <!--<p>名称，基础信息，33cmX33cm，2018</p>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{/js/jquery.lazyload.min.js}"></script>
<!--<script src="../layui/layui.js"></script>-->

<script th:inline="none">

    $.ajax({
        type: "post",
        url: "/show/getWorkList",
        contentType: "application/json",
        dataType: "json",
        cache: false,
        success: function (data) {
            if (data.code === '0') {
                var list = data.data;    //list
                for (var i in list) {
                    for (var key in list[i]) {
                        var workYearsCon = '';
                        var workCon = '';

                        for (var j in list[i][key]) {
                            var d = list[i][key][j];
                            workCon = workCon + ' <div class="work-info">\n' +
                                '<img data-original="' + d.picUrl + '" class="lazy" onclick="fullS('+d.id+')" />\n' +
                                // '<img lay-src="' + d.picUrl + '" onclick="enlarge(' + d.id + ')" />\n' +
                                 '<p> ' + d.title + ',' +d.material + ',' + d.picSize  + ',' + d.content + '</p>\n' +
                                '</div>';
                            /*
                                                            workCon = workCon + ' <div class="work-info">\n' +
                                                                // '<img data-original="' + d.picUrl + '" class="lazy small" onclick="fullS(\''+d.picUrl+'\',\''+d.title+'\',\''+d.content+'\',\''+d.picSize+'\',\''+d.workYear+ '\')" />\n' +
                                                                '<img src="' + d.picUrl + '" onclick="enlarge(' + d.id + ')" />\n' +
                                                                '<p> ' + d.title + ',' + d.material + ',' + d.picSize + ',' + d.content + '</p>\n' +
                                                                '</div>';*/

                        }

                        workYearsCon =
                            '<div id="page' + key + '" class="content">' +
                                '<div class="caption">'+key+'年作品集</div>'
                                    + workCon + '' +
                            '</div>';
                        $('#workCon').append(workYearsCon);
                    }
                }

                runFun();
            }
        },
        error:function(data,type, err){
            console.log("ajax错误类型："+type);

            console.log('error:'+err);
            // layer.msg("数据异常，请刷新后再试", {time: 1000})
        }
    });
</script>

<script>
    var picUrl = "../image/work03.jpg", title = '名称', content = '基础信息', picSize = '33cmX33cm';

    /*---------------时间轴-------------*/

    // var ye = '2018';//作品年份
    // var workId = "'page" + ye + "'";
    // var workM = '<li onClick="goToByScroll(' + workId + ', this); return false;"><a href="javascript:;">' + ye + '</a></li>';//这里写个循环
    //
    // $('#years').append(workM);//添加年份时间轴

    var workYears = $("#workYears").val();
    workYears = workYears.replace("[", "");
    workYears = workYears.replace("]", "");
    var years = workYears.split(",");
    var length = years.length;


    var workId = "";
    var earlyYear = '2015及以前';
    var yaer2015 = '2015';

    for (i = 0; i < length; i++) {
        console.log(years[i]);

        workId = "'page" + years[i].trim() + "'";
        var workM = '<li onClick="goToByScroll(' + workId + ',this); return false;"><a href="javascript:;">' + (years[i].trim()==yaer2015?earlyYear:years[i].trim()) + '</a></li>';//这里写个循环
        $('#years').append(workM);//添加年份时间轴
    }

    $("#years li:first-child").addClass('active');


    /*--------------作品内容--------------*/
    //    var workCon = '<div class="work-info"><img src="'
    //            + picUrl + '" onclick="fullS(this)"><p>'
    //            + title + '，' + content + '，' + picSize + '，' + workYear + '</p></div>'; //当前年份下的作品
    //
    //    var workY = '<div id="page' + workYear + '" class="content">' + workCon + '</div>'; //当前年份 div
    //
    //    $('#workCon').append(workY);

</script>
<script>
    // $(function () {

    var runFun = function () {

        var widW = $(window).width();
        var widH = $(window).height();
        var top = $('.head').outerHeight();
//-----------------------header-----------------------
        if (widW <= 750) {
            $('.fix').height(top + 10);
        } else {
            $('.fix').height(top + 30);
        }
        if ($('.workTime').height() >= (widH - $('.fix').height())) {
            $('.workTime').css('position', 'relative')
        } else {
            $('.workTime').css('position', 'fixed')
        }


//-----------------------lazyload-----------------------
        $("img.lazy").lazyload({effect: "fadeIn"});

//-----------------------lazyload-----------------------
//        layui.use('flow', function () {
//            var flow = layui.flow;
//            //当你执行这样一个方法时，即对页面中的全部带有lay-src（当然你也可以指定相关img）
//            flow.lazyimg();
//        });

//-----------------------图片大小-----------------------

        $("img.lazy").each(function () {

            var native_width, native_height;
            var ww = $(".work-info").width();

            var img_obj = new Image();
            img_obj.src = $(this).attr('data-original');

            native_width = img_obj.width;
            native_height = img_obj.height;

            if (widW >= 620) {
                if (native_width / native_height >= 2) {
                    if (native_width >= ww) {
                        $(this).css({
                            "width": ww,
                            "height": ww / native_width * native_height
                        });
                    } else {
                        $(this).css({
                            "width": native_width,
                            "margin-left": 'auto',
                            "margin-right": 'auto',
                            "height": native_height
                        });
                    }
                } else {
                    $(this).css({
                        "width": 400,
                        "margin-left": 'auto',
                        "margin-right": 'auto',
                        "height": 400 / native_width * native_height
                    });
                }
            } else {
                $(this).css({
                    "width": ww,
                    "height": ww / native_width * native_height
                });
            }

        });


//-----------------------workTime-----------------------
//         !function () {
            var map = [], names = [], win = $(window);
            $('.content').each(function (n) {
                map[n] = this.offsetTop;
                names[n] = $(this).attr('id');
            });
            win.on('scroll', function () {
                var i = 0;
                while (map[i++] <= win.scrollTop()) {
                    $('.workTime li').removeClass("active");
                    $('.workTime li').eq((i - 1)).addClass("active");
                }
            })
        // }();


    };


    function goToByScroll(id, obj) {
        var top = $('.fix').height();
        var targetOffset = $("#" + id).offset().top - top;

        $('html,body').animate({scrollTop: targetOffset}, 'slow', function () {
            $('#years li').removeClass('active');
            $(obj).addClass('active');
        });
    }

    function fullS(id) {
        // var alt = $(obj).attr('data-original');
        window.location.href = "/pages/show/workimg/"+id;
    }

    $(window).resize(function () {          //当浏览器大小变化时
        window.location.reload();
    });

</script>
</html>
